body{
    font-family: 'Open Sans', sans-serif;
    background-color: #AB14C3;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

.cap{
    width: 50%;
    height: 50%;
    border: none;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;
}

.gradlink{
    text-align: center;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    margin: 15px 0px 0px 0px;

    color: #FFFFFE;
}

.gradlink-desc {
    text-align: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    /* or 125% */

    /* White */
    color: #FFFFFE;
}

.signupBtn{
    width: 150px;
    height: 30px;
    margin-bottom: 15px;

    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;

    color: #AB14C3;

    font-size: 15px;
}

.loginBtn{
    width: 150px;
    height: 30px;

    border-color: #FFFFFE;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);

    color: white;

    font-size: 15px;
}

.loginBtn:hover{
    color: #AB14C3;
    background-color: white;
}

.signupBtn:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    border;
    color: white;
}